<nav class="navbar navbar-white navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="navbar-header col-sm-3">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<a class="navbar-brand" href="#">Hi {{vm.sessionObj.username}}</a>
			</div>
			<div class="col-sm-5">
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search"></i></span>
					<input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon1">
				</div>
			</div>
			<div id="navbar" class="col-sm-4">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
					<li><a href="#about"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#contact"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
					<li class="logout"><a href="javascript:;" ng-click="vm.logout()">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div class="container-fluid banner">
	<div class="row">
		<div class="col-xs-4 banner-border1"></div>
		<div class="col-xs-4 banner-border2"></div>
		<div class="col-xs-4 banner-border3"></div>
	</div>
</div>