// global styles
a{
    color: $base-text-color;
    &:hover{
        text-decoration: none;
    }
}

.navbar{
    box-shadow: 0px 1px 0px rgba(34,34,34,0.2);
    border: none;
    margin-bottom: 0px;
    height: 45px;
    background: rgba(0, 0, 0, 0.78);
    &-right{
        li {
            width: 50px;
            text-align: center;
            a{
                transition: all 0.7s ease;
                color: #fff;
            }
            &:nth-child(1) a{
                &:hover, &:focus{
                    background-color: $pinterest-color;
                }
            }
            &:nth-child(2) a{
                &:hover, &:focus{
                    background-color: $facebook-color;
                }
            }
            &:nth-child(3) a{
                &:hover, &:focus{
                    background-color: $gmail-color;
                }
            }
            &:nth-child(4) a{
                &:hover, &:focus{
                    background-color: $twitter-color;
                }
            }
            &:nth-child(5) {
                width: auto;
                a{
                    &:hover, &:focus{
                        background-color: transparent;
                        color: $base-color;
                    }
                }
            }
        }
    }
    &-brand{
        text-transform: uppercase;
        color: #fff;
        &:hover, &:focus{
            color: #fff;
        }
    }
}
.input-group-lg{
    .input-group-addon{
        border-radius: 0px;
        border: none;
        background: transparent;
        border-bottom: 1px solid $border-color;
        height: 45px;
        padding: 10px 0px 10px 15px;
    }
    .form-control{
        border: none;
        background: transparent;
        border-bottom: 1px solid $border-color;
        height: 45px;
        border-radius: 0px;
        font-size: 13px;
        padding-left: 8px;
        box-shadow: 0px 0px 0px;
        color: #fff;
    }
}
.banner{
    width: 100%;
    margin-top: 50px;
    min-height: 450px;
    background: url("../images/banner.jpg") no-repeat center;
    box-shadow: 0px 5px 20px transparentize(#000, 0.7);
    &-border1{
        background: #1e9dbd;
        height: 10px;
    }
    &-border2{
        background: #146e83;
        height: 10px;
    }
    &-border3{
        background: #0e4e5e;
        height: 10px;
    }
    
}
.nav-stacked{
    border-right: 1px solid $border-color;
    padding: 15px 0px 45px 0;
    li {
        border-bottom: 1px solid $border-color;
        a{
            color: $base-text-color;
            border-radius: 0px;
            text-align: right;
            padding: 10px;
            transition: all 0.2s;
            i{
                margin-left: 10px;
            }
            &:hover, &:focus{
                border-right: 4px solid $base-color;
                color: $base-color;
            }
        }
    }
    li + li{
        margin-top: 0px;
    }
}

// video categories
.cat{
    &-title{
        color: $base-color;
    }
    &-count{
        font-size: $font-size-base + 2;
        line-height: 26px;
        font-weight: 100;
        padding-left: 10px;
        a{
            color: $disabled-text-color;
        }
    }
    .btn-default{
        border-radius: 0px;
        transition: all 0.5s;
        padding: 3px 10px;
        color: $disabled-text-color;
        border-color: $disabled-text-color;
        &:hover, &:focus{
            background: #fff;
            border-color: $base-color;
            color: $base-color;
        }
    }
}
.videobox{
    display: block;
    height: 350px;
    &-container{
        // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        display: block;
        transition: all 0.5s;
        &:hover{
            box-shadow: -2px 5px 15px rgba(0, 0, 0, 0.1);
        }
    }
    &-title a{
       color: $base-color; 
       line-height: 21px;
    }
    p{
        text-align: justify;
        font-size: 12.5px;
        color: #999;
    }
    &-single{
        margin-top: 20px;
        .progress{
            padding: 0px;
            list-style: none;
            li{
                &:nth-child(1){
                    background: #0e4e5e;
                    
                }
                &:nth-child(2){
                    background: #146e83;
                    
                }
                &:nth-child(3){
                    background: transparentize(#1e9dbd, 0.3); 
                }
                &:nth-child(4){
                    background: transparentize(#1e9dbd, 0.6); 
                }
                &:nth-child(5){
                    background: transparentize(#1e9dbd, 0.8); 
                }
            }
        }
    }
}
.text-elipses{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
