$facebook-color:        #336699;
$gmail-color:           #dd4b39;
$twitter-color:         #3399cc;
$pinterest-color:       #c8232c;
$base-color:            #1e9dbd;
$base-color1:           #1e9dbd;
$base-color2:           #146e83;
$base-color3:           #0e4e5e;


// text color
$base-text-color:     #fff;
$disabled-text-color: #999;
$border-color:        #e5e5e5;
$font-size-base:        12.5px;
$topbar-font-color:   #ACB5C3
